{# src/AppBundle/Resources/views/Client/addclient.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Client - Ajout client
{% endblock %}

{% block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{{ path('accueil_client') }}">Client</a></li>
            <li class="active">Ajout client</li>
        </ol>
{% endblock %}

{% block menu %}
    {{ render(controller("AppBundle:Client:menu")) }}
{% endblock %}

{% block body %}
    <div id="cadrebody">
        <h3>Ajouter une société cliente</h3>

	    <div class="well">
	      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

	      	{{ form_errors(form) }}

		    <div class="form-group">

		      {{ form_label(form.nomSociete, "Nom de la société", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		      {{ form_errors(form.nomSociete) }}

		      <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(form.nomSociete, {'attr': {'class': 'form-control'}}) }}
		      </div>
		    </div>

		    <div class="form-group">

		      {{ form_label(form.adresse1, "Adresse", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		      {{ form_errors(form.adresse1) }}

		      <div class="col-sm-4">
		        {{ form_widget(form.adresse1, {'attr': {'class': 'form-control'}}) }}
		      </div>
		    </div>

		    <div class="form-group">

		      {{ form_label(form.adresse2, "Complément adresse", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		      {{ form_errors(form.adresse2) }}

		      <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(form.adresse2, {'attr': {'class': 'form-control'}}) }}
		      </div>
		    </div>	

		    <div class="form-group">

		      {{ form_label(form.codePostal, "Code postal", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		      {{ form_errors(form.codePostal) }}

		      <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
		      </div>
		    </div>

		    <div class="form-group">

		      {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		      {{ form_errors(form.ville) }}

		      <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
		      </div>
		    </div>

		    <div class="form-group">

		      {{ form_label(form.pays, "Pays", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		      {{ form_errors(form.pays) }}

		      <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
		      </div>
		    </div>

		    <div class="form-group">

		      {{ form_label(form.commentaire, "Commentaires", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		      {{ form_errors(form.commentaire) }}

		      <div class="col-sm-4">
		        {# Génération de l'input. #}
		        {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
		      </div>
		    </div>

		    <div id="submitform">
		    	{{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
		        {{ form_widget(form.Annuler, {'attr': {'class': 'btn btn-default'}}) }}
		    </div>

		 	{{ form_rest(form) }}
	  
	  	  {# Fermeture de la balise <form> du formulaire HTML #}
	  	  {{ form_end(form) }}
	    </div>
	</div>
{% endblock %}