<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}PlastProd{% endblock %}</title>

    {% block stylesheets %}
      <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
      <link href="{{ asset('css/plastprod.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('accueil') }}">
            <img class="logo" alt="PlastProd" src="{{ asset('images/logo.png') }}">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="accueil"><a href="{{ path('accueil') }}">Accueil</a></li>
            <li id="client"><a href="{{ path('accueil_client') }}">Client</a></li>
            <li id="prod"><a href="{{ path('accueil_prod') }}">Production</a></li>
            <li id="stock"><a href="{{ path('accueil_stock') }}">Stock</a></li>
            <li id="admin"><a href="{{ path('accueil_admin') }}">Configuration</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if ( is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY') ) %}
              <li>
                <p class="navbar-text">{{ app.user.username }}</p>
              </li>
              <li>
                  <button id="deconnexionbtn" type="button" class="btn btn-default navbar-btn" data-path="{{ path('logout') }}">
                    Se déconnecter
                  </button>
              </li>
            {% else %}
              </li>
                <button id="connexionbtn" type="button" class="btn btn-default navbar-btn" data-path="{{ path('login') }}">
                  Se connecter
                </button> 
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

      <div>
        {% block breadcrumb %}
        {% endblock %}
      </div>

      {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ flashMessage }}
        </div>
      {% endfor %}

      {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ flashMessage }}
        </div>
      {% endfor %}

      {% for flashMessage in app.session.flashbag.get('erreur') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ flashMessage }}
        </div>
      {% endfor %}

      {% block flash %}
      {% endblock %}

      <div class="row">
        <div class="col-md-1">
          {% block menu %}
          {% endblock %}
        </div>

        <div class="col-md-11">
          {% block body %}
          {% endblock %}
        </div>
      </div>

    </div>

    <footer class="footer">
      <div class="container-fluid">
        <p>Version 1.0.0.1 - Copyright PlastProd 2015 - <a href="">HelpDesk</a></p>
      </div>
    </footer>

    {% block javascripts %}
      <script src="{{ asset('js/jquery-1.11.2.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('js/layout.js') }}" type="text/javascript"></script>
    {% endblock %}

  </body>
</html>