{# src/AppBundle/Resources/views/Stock/index.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Fournisseurs
{% endblock %}

{% block breadcrumb %}
        <ol class="breadcrumb">
        	<li class="active"><a href="{{ path('accueil_stock') }}">Stock</a></li>
			<li>Fournisseurs</li>
        </ol>
{% endblock %}

{% block menu %}
	{{ render(controller("AppBundle:Stock:menu")) }}
{% endblock %}

{% block body %}
	<div id="cadrebody">
		<h3>Fournisseurs</h3>

		<table id="tabliste">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Adresse</th>
					<th>CP</th>
					<th>Ville</th>
					<th>Pays</th>
					<th>Commentaire</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for fournisseur in listefournisseur %}
					<tr>
						<td>{{ fournisseur.nomSociete }}</td>
						<td>{{ fournisseur.adresse1 }}</td>
						<td>{{ fournisseur.codePostal }}</td>
						<td>{{ fournisseur.ville }}</td>	
						<td>{{ fournisseur.pays }}</td>	
						<td>{{ fournisseur.commentaire }}</td>
						<td><a class="btn btn-success" title="Modifier le fournisseur {{ fournisseur.nomSociete }}" href="{{ path('modifier_fournisseur', { id: fournisseur.idtSociete }) }}">Modifier</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<button id="btnajoutfournisseur" class="boutonGoogle" data-path="{{ path('ajouter_fournisseur') }}" title="Ajouter un fournisseur">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>

{% endblock %}