{# src/AppBundle/Resources/views/Stock/index.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Module stock
{% endblock %}

{% block breadcrumb %}
        <ol class="breadcrumb">
        	<li class="active"><a href="{{ path('accueil_stock') }}">Stock</a></li>
        </ol>
{% endblock %}

{% block menu %}
	{{ render(controller("AppBundle:Stock:menu")) }}
{% endblock %}

{% block body %}
	<div id="cadrebody">
		<h3>Etat du stock</h3>
		
		<table id="tabliste">
			<thead>
				<tr>
					<th>Fournisseur</th>
					<th>Nom du produit</th>
					<th>Catégorie de produit</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				{% for stock in listestock %}
					<tr name='Produits' id='{{ stock.produit.idtProduit }}'>
						<td>{{ stock.produit.producteur.NomSociete }}</td>
						<td>{{ stock.produit.NomProduit }}</td>
						<td>{{ stock.produit.CategorieProduit }}</td>
						<td>{{ stock.produit.DescriptionProduit}}</td>
						<td>{{ stock.produit.PrixProduit }}</td>	
						<td>{{ stock.quantite }}</td>						
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}