{# src/AppBundle/Resources/views/Stock/index.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Module stock
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/stock-general.js') }}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
        <ol class="breadcrumb">
        	<li class="active"><a href="{{ path('accueil_stock') }}">Stock</a></li>
        </ol>
{% endblock %}

{% block menu %}
	{{ render(controller("AppBundle:Stock:menu")) }}
{% endblock %}

{% block body %}
	<div id="cadrebody">
		<h3>Etat du stock</h3>

		<table id="tabliste">
			<thead>
				<tr>
					<th>Fournisseur</th>
					<th>Nom du produit</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				{% for stock in listestock %}
					<tr name='produit' id='{{ stock[0].produit.idtProduit }}'>
						<td>{{ stock['nomSociete'] }}</td>
						<td>{{ stock['nomProduit'] }}</td>
						<td>{{ stock['descriptionProduit'] }}</td>
						<td>{{ stock['prixProduit'] ~ ' €' }}</td>	
						<td>{{ stock['quantite'] }}</td>						
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div id="lignesParProduit" data-path="{{ path('ligne_stock') }}">        
        </div>
	</div>
{% endblock %}