{# src/AppBundle/Resources/views/Stock/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
    <li>
      <a href="{{ path('gerer_stock') }}">Stock</a>
    </li>
    <li>
      <a href="{{ path('modifier_fourn') }}">Modifier fournisseur</a>
    </li>
    <li>
      <a href="{{ path('modifier_stock') }}">Modifier stock</a>
    </li>
    <li>
      <a href="{{ path('compte') }}">Mon compte</a>
    </li>    
    <li>
      <a href="{{ path('deconnexion') }}">Se deconnecter</a>
    </li>
</ul>