{# src/AppBundle/Resources/views/Stock/index.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Stock - Modification
{% endblock %}

{% block breadcrumb %}
        <ol class="breadcrumb">
        	<li class="active"><a href="{{ path('accueil_stock') }}">Stock</a></li>
			<li>Modifier le Stock</li>
        </ol>
{% endblock %}

{% block menu %}
	{{ render(controller("AppBundle:Stock:menu")) }}
{% endblock %}

{% block body %}
	<div id="cadrebody">
		<h3>Modifier le Stock</h3>
		<table>
			<thead>
				<tr>
					<th>Nom du produit</th>
					<th>Nom du fournisseur</th>
					<th>Catégorie de produit</th>
					<th>Prix</th>
					<th>Quantite</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for stock in Liste_stock %}
					<tr name='Produits' id='{{ stock.produit.idtProduit }}'>
						<td>{{ stock.produit.NomProduit }}</td>
						<td>{{ stock.produit.NomFournisseur }}</td>
						<td>{{ stock.produit.CategorieProduit }}</td>
						<td><input class="Prix" value="{{ stock.produit.PrixProduit }}"/></td>
						<td><input class="quantite" value="{{ stock.quantite }}" data-idstock="{{ stock.idtEntree }}"/></td>
						<td><input type="submit" class="submit" /></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href ={{ path('ajoutstock')}} class="a_ajout">Ajouter un produit</a>

{% endblock %}