{# src/AppBundle/Resources/views/Production/bonfinal.html.twig #}
<h3>Etiquette finale</h3>

<div id="cadrebon">
    <div class="infonomenclature">
        <h6>Identifiant : <small>{{ production[0].idtElement }}</small></h6>
        <h6>Code produit: <small>{{ production['codeProduit'] }}</small></h6>
        <h6>Chaîne : <small>{{ production['nomChaine'] }}</small></h6>
        <h6>Date : <small>{{ production[0].dateFin|date('d-m-Y H:i:s') }}</small></h6>
    </div>

    <div class="codebarre">
        <h6><small>Commercial</small></h6>
        <img src="{{ asset(cb_commercial) }}">
        {#{ cb_interne|raw }#}
    </div>

    <div class="matiere"></div>
</div>

<div id="bouton_droit">
    <button type="submit" id="imprimerbonfinal" name="btnimprimer" class="btn btn-primary unique-taille">Imprimer</button>
    <button type="submit" id="annulernom" name="btnannuler" class="btn btn-default unique-taille" data-path="{{ path('gerer_etiquette') }}">Annuler</button>
</div>