{# src/AppBundle/Resources/views/Production/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="{{ path('suivi_prod') }}">Recherche</a>
  </li>
  <li>
    <a href="{{ path('accueil_prod') }}">En cours</a>
  </li>
  {% if is_granted('ROLE_GES_PRODUCTION') %}
  	<li>
      <a href="{{ path('gerer_bon') }}">Bon</a>
    </li>
    <li>
      <a href="{{ path('gerer_rebut') }}">Rebut</a>
    </li>
  	<li>
      <a href="{{ path('gerer_etiquette') }}">Etiquette</a>
    </li>
  {% endif %}
</ul>